/* Material UI related */

.MuiPaper-root {
    background-color: #2a6049 !important;
    box-shadow: none !important;
}

.MuiSvgIcon-root {
    color: #cac386;
}

.MuiIconButton-root {
    padding: 25px !important;
}

.MuiListItemIcon-root {
    justify-content: center !important;
}

.MuiListItem-gutters {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.MuiListItem-root {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    cursor: pointer;
}